<div style="height: 4rem"></div>
<rs-app>
  <rs-text>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum at
    deserunt praesentium id maiores eligendi minima earum rerum ratione nisi
    labore, omnis aliquid ad laborum velit? Suscipit laboriosam cupiditate
    atque! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque
    praesentium distinctio esse facilis beatae inventore, fugiat similique vel,
    ut ad necessitatibus, reprehenderit adipisci nostrum modi nisi voluptate
    dolores debitis aspernatur?
  </rs-text>
  <div
    style="
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
    "
  >
    <rs-panel [wide]="true" style="flex-shrink: 0; margin-bottom: 1rem">
      <rs-text>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum at
        deserunt praesentium id maiores eligendi minima earum rerum ratione nisi
        labore, omnis aliquid ad laborum velit? Suscipit laboriosam cupiditate
        atque! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque
        praesentium distinctio esse facilis beatae inventore, fugiat similique
        vel, ut ad necessitatibus, reprehenderit adipisci nostrum modi nisi
        voluptate dolores debitis aspernatur?
      </rs-text>
    </rs-panel>

    <rs-panel style="flex-shrink: 0; margin-bottom: 1rem">
      <rs-text>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum at
        deserunt praesentium id maiores eligendi minima earum rerum ratione nisi
        labore, omnis aliquid ad laborum velit? Suscipit laboriosam cupiditate
        atque! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque
        praesentium distinctio esse facilis beatae inventore, fugiat similique
        vel, ut ad necessitatibus, reprehenderit adipisci nostrum modi nisi
        voluptate dolores debitis aspernatur?
      </rs-text>
    </rs-panel>

    <rs-panel [wide]="true" style="flex-shrink: 0; margin-bottom: 1rem">
      <rs-text>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum at
        deserunt praesentium id maiores eligendi minima earum rerum ratione nisi
        labore, omnis aliquid ad laborum velit? Suscipit laboriosam cupiditate
        atque! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque
        praesentium distinctio esse facilis beatae inventore, fugiat similique
        vel, ut ad necessitatibus, reprehenderit adipisci nostrum modi nisi
        voluptate dolores debitis aspernatur?
      </rs-text>
    </rs-panel>
  </div>
</rs-app>
