/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Runescape';
  src: url(assets/RuneScape-Chat-07.woff) format('woff');
}

@font-face {
  font-family: 'Runescape Detailed';
  src: url(assets/RuneScape-NPC-Chat.woff) format('woff');
}

body {
  margin: 0;
  font-family: 'Runescape';
  background-image: url(assets/hd_bg_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  min-height: 100vh;
}

.drop-shadow-content {
  > * {
    text-shadow: 1px 1px black;
    filter: drop-shadow(1px 1px 2px black);
  }
}

.under-construction {
  background-color: #e5e5f7;
  opacity: 1;
  background: repeating-linear-gradient(
    -45deg,
    #ffff0044,
    #ffff0044 4.5px,
    #00000044 4.5px,
    #00000044 22.5px
  );
}

hr {
  position: relative;
  width: calc(100% + 8px);
  left: -4px;
  box-sizing: border-box;
  border-image-source: url(assets/panel.png);
  border-image-slice: 7 8 8 7;
  border-image-repeat: repeat;
  border-style: solid none none none;
  border-width: 8px;
}
